body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #ff6b35;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

main {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff6b35;
}

video:hover {
    transform: skew(90deg, 0deg);
    transition: transform 10s;
}

video {
    transform: skew(0deg, 0deg);
    transition: transform 5s;
}

header h1:hover  {
    margin-bottom:1000px;
    transition: margin-bottom 5s;
}