body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background: #f9f9f9;
}
h1 {
    color: #333;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr;
    grid-auto-rows: minmax(300px, auto);
}

.movie-list div {
    background-color: blue;
    border: 3px solid hotpink;
    padding: 10px;
    color: lightgoldenrodyellow;
}

h1 {
    position: absolute;
    top: 0px
}
#lotr {
    background-color:orange;
    grid-column:-2 / span 2;
    grid-row: 1 /span 4
}

.sticky {
    position: sticky;
    top: 300px;
    background: lightgray;
    padding: 5px;
    border: 2px solid gray;
}

.z-1 {
    z-index: 1;
}

.absolute {
    position: absolute;
    top: 50px;
    right: 50px;
    background: lightblue;
    padding: 5px;
    border: 2px solid blue;
}